<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Locals-Package" value="C:\local-nuget-packages" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="C:\Apps\nuget-packages\" />
    <add key="globalPackagesFolder" value="C:\Apps\nuget-packages\" />
  </config>
</configuration>
